
body{
    background-color: #f7be7d;
    width: 1fr;
    font-size: 3vw;

}

.wrapper {
  background-color: #fbead7;
  width: auto;
  display: grid;
  
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  row-gap: 10px;
  column-gap: 6px;
  
  padding-block-start: 23px;
  padding-block-end: 23px;

  grid-template-rows: 175px 45px 250px 75px 75px 45px 250px 100px 400px;
  grid-template-columns: 2fr 100px 1fr 1fr 1fr 100px 2fr;
}


#main p{
  font-size: small;
}

#banner{
  width: 100%;
  height: 100%;
  grid-column: 2 / 7;
  grid-row: 1;
  background-color:#cdc682;
  
}

#banner img{
  margin: auto;
display:flex;
height: auto;
width:45rem;
 justify-content:center;
  align-items:center;
  
}

#home{
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2/3;
  background-color:#737b94;
}

#sitemap{
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 3/6;
  background-color:#a2d3db;
}

#music{
  
  width: 100%;
  height: 100%;
  grid-column: 3 / 6;
  grid-row: 2/3;
  background-color:#a2d3db;
}

#follow{
  width: 100%;
  height: 100%;
  grid-column: 6/ 7;
  grid-row: 2/3;
  background-color:#a2d3db;
}

#main{
  width: 100%;
  height: 100%;
  grid-column: 3 / 6;
  grid-row: 3/6;
  background-color:#dbc772;
}

#rSection1{
  width: 100%;
  height: 100%;
  grid-column: 6 / 7;
  grid-row: 3/4;
  background-color:#a2d3db;
}
#rSection1 button{
  color: #465072;
  background-color: #88bfd8;
}
#rSection1  a{
  color: #465072;
}


#rSection2{
  width: 100%;
  height: 100%;
  grid-column: 6 / 7;
  grid-row: 4/5;
  background-color:#a2d3db;
}

#rSection3{
  width: 100%;
  height: 100%;
  grid-column: 6 / 7;
  grid-row: 5/6;
  background-color:#a2d3db;
}

#friendBanner{
  width: 100%;
  height: 100%;
   grid-column: 2/ 7;
  grid-row: 6/7;
  background-color:#e199bf;
}

#buttons{
  width: 100%;
  height: 100%;
   grid-column: 2 / 5;
  grid-row: 7/8;
  background-color:#e2dc9d;
}

#guestbook{
  width: 100%;
  height: 100%;
   grid-column: 2 / 5;
  grid-row: 8/10;
  background-color: #af5e47;
}

#statuses{
  width: 100%;
  height: 100%;
   grid-column: 5/ 7;
  grid-row: 7/9;
  background-color: #a1945f;
 
}

#chat{
  width: 100%;
  height: 100%;
   grid-column: 5/ 7;
  grid-row: 9/10;
  background-color: #cec085;
}

.areatemplate{
  width: 100%;
  height: 100%;
   grid-column: a/b;
  grid-row: a/b;
  background-color: #b8b8b87a;
}

.centeredDiv p {
 margin: auto;
display:flex; 
font-size: 1rem;
  justify-content:center;
  align-items:center;
 background-color: orange;

 
}

.centeredDiv iframe {
  margin: auto;
display:flex;
  justify-content:center;
  align-items:center;
  
width:inherit;
}

.centeredDiv a {
  margin: auto;
display:flex;
  justify-content:center;
  align-items:center;
}

.centeredDiv h2 {
  margin: auto;
display:flex;
  justify-content:center;
  align-items:center;
  background-color: lightgreen;
  height: auto;
width:inherit;
font-size: 2rem;


}
h1{
  background-color: yellow;
  font-size: 2.4rem;
}

.centeredDiv button {
 margin: auto; 
/*justify-content:center;
  align-items:center;*/
  max-width: inherit;
}

.centeredDiv ul {
  margin: 0;
display:flex; 
font-size: 1rem;
 background-color: rgb(241, 93, 153);
padding: 0%;
}
.centeredDiv{

  /*
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center; */
  text-align: center;
  font-size: 200%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;

  scrollbar-color: #baefec #a2d3db48;
  scrollbar-width: thin;
}

 .scrollable {

  overflow-y: auto;
  overflow-wrap: break-word;
overscroll-behavior-x: contain;
  scrollbar-color: #baefec #a2d3db48;
  scrollbar-width: thin;
 }