* {
  box-sizing:border-box;
}
body{ background-color: antiquewhite;
  width: 100%;
font-size: medium;}
h1{
  background-color: yellow;
  font-size: 2.4rem;
}

.banner{
  background-color:#cdc682;
  
}

.banner img{
  margin: auto;
display:flex;
height: auto;
width:100%;
 justify-content:center;
  align-items:center;
  
}
.homelogo{
  background-color:#737b94;
}
.sitemap{
  background-color:#a2d3db;
}
.music{ 

  background-color:#a2d3db;
}

.followme{
  width: 100%;
  height: 100%;
  background-color:#a2d3db;
}

.main{
  width: 100%;
  background-color:#dbc772;
/*scroll behavior*/
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rightaside{
  width: 100%;
  background-color:#a2d3db;
/*scroll behavior*/
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.rightaside button{
  color: #465072;
  background-color: #88bfd8;
  
}

.friendmarquee{
  width: 100%;
  background-color:#e199bf;
  
}

.buttons{
  width: inherit;
  height: inherit;
  background-color:#e2dc9d;
/*scroll behavior*/
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.guestbook{
  width: 100%;
  background-color: #af5e47;
}

.status{
  width: 100%;
  background-color: #a1945f;
/*scroll behavior*/
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat{
  width: 100%;
  background-color: #cec085;
}

.pets{
  width: 100%;
  background-color: #a1945f;
/*scroll behavior*/
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.centeredHorizontal{
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 200%;
  /* overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;

  scrollbar-color: #baefec #a2d3db48;
  scrollbar-width: thin;*/
}

  /* overflow-y: auto;
  overflow-wrap: break-word;
overscroll-behavior-x: contain;
  scrollbar-color: #baefec #a2d3db48;
  scrollbar-width: thin;
 } */

 .marqueeContainer {
  overflow: hidden;
  white-space: nowrap;
}

 .marqueepiece {
  animation: marquee 2s linear infinite;
  display: inline-block;
  padding-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-100%);
  }
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "leftmargin banner banner banner banner banner rightmargin" 200px
    "leftmargin homelogo music music music followme rightmargin" 45px
    "leftmargin sitemap main main main rightaside rightmargin" 1fr
    "leftmargin friendmarquee friendmarquee friendmarquee friendmarquee friendmarquee rightmargin" 45px
    "leftmargin status status webring guestbook guestbook rightmargin" 240px
    "leftmargin chat chat chat guestbook guestbook rightmargin" 150px
    "leftmargin chat chat chat pets pets rightmargin" 500px
    "leftmargin footer footer footer footer footer rightmargin" 120px
    / 1fr 90px 1fr 160px 1fr 90px 1fr;
  gap: 8px;
}

.leftmargin { grid-area: leftmargin; }
.banner { grid-area: banner; }
.rightmargin { grid-area: rightmargin; }
.homelogo { grid-area: homelogo; }
.music { grid-area: music; }
.followme { grid-area: followme; }
.sitemap { grid-area: sitemap; }
.main { grid-area: main; }
.rightaside { grid-area: rightaside; }
.friendmarquee { grid-area: friendmarquee; }
.status { grid-area: status; }
.webrings { grid-area: webrings; }
.guestbook { grid-area: guestbook; }
.chat { grid-area: chat; }
.pets { grid-area: pets; }
.footer { grid-area: footer; }