body{
    background-color: #fedaa7;
}

   .divTable{
    display: flexbox;
    border-collapse: collapse;
   }

   .row{
display: table-row;
   }

.cell{
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
}

.divTable .row .cell{
   text-wrap-style: balance;

}