* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --text: #fef5f1;
    --background: #89c68c;
    --primary: #b1bbd397;
    --secondary: #49356990;
    --accent: #19553193;
}


body {
    width: 100%;
    font-size: medium;
    background-color: #2d3a80;
    background-image: url('https://file.garden/aR-4_00aUQLjULLS/Web%20Graphics/Patterns/starry.jpeg');


    color: #fff;

    letter-spacing: 1px;

}

h1 {
    background-color: rgb(92, 96, 55);
    font-size: 2.4rem;
}


.layout {
    width: 100vw;

    display: grid;
    grid:
        "topmargin topmargin topmargin topmargin topmargin" 10px "leftmargin banner banner banner rightmargin" 160px "leftmargin homelogo music followme rightmargin" 45px "leftmargin sitemap main rightaside rightmargin" 350px "leftmargin sitemarquee sitemarquee sitemarquee rightmargin" 45px "leftmargin comments comments comments rightmargin" 240px "leftmargin footer footer footer rightmargin" 45px / 1fr 100px 606px 100px 1fr;
    gap: 8px;
}

.topmargin {
    grid-area: topmargin;
}

.leftmargin {
    grid-area: leftmargin;
}

.banner {
    grid-area: banner;
}

.rightmargin {
    grid-area: rightmargin;
}

.homelogo {
    grid-area: homelogo;
}

.music {
    grid-area: music;
}

.followme {
    grid-area: followme;
}

.sitemap {
    grid-area: sitemap;
}

.main {
    grid-area: main;
}

.rightaside {
    grid-area: rightaside;
}

.sitemarquee {
    grid-area: sitemarquee;
}

.comments {
    grid-area: comments;
}

.footer {
    grid-area: footer;
}



.banner {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    height: auto;
    width: 100%;
    margin: auto;

}

.homelogo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.sitemap {
    overflow-x: hidden;
    background-color: var(--secondary);
    /*spacing*/
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: top;
    align-items: center;
    align-content: stretch;
    gap: 8px;
    word-wrap: break-word;
    word-break: keep-all;

    color: #e8edff;
}

.music {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}


.followme {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.followme img,
.homelogo img {
    display: block;
}

.main {
    min-height: 100%;
    width: 100%;
    background-color: var(--accent);
    word-break: keep-all;
    /*scroll behavior*/
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.rightaside {
    overflow-x: hidden;
    background-color: var(--secondary);
    /*spacing*/
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2px;

    align-items: center;
    word-wrap: break-word;
    word-break: keep-all;

    color: #e8edff;
}

.blueborder {
    border-color: #e8edff;
    border-style: groove;
    border-width: 2px;
    border-radius: 9px;
}


.centered-horizontal {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    width: 100%;
}