<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="layouts/main.css">
        <link rel="stylesheet" href="layouts/mainfonts.css">
        <script src="https://www.w3schools.com/lib/w3data.js"></script>
        <link rel="stylesheet" href="layouts/musicmarquee.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;800&display=swap"
            rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    </head>

    <body>
        <section class="layout">
            <div class="topmargin"></div>
            <div class="leftmargin"></div>
            <div class="rightmargin"></div>
            <div class="banner centeredHorizontal blueborder"> <img
                    src="https://file.garden/aR-4_00aUQLjULLS/Web%20Graphics/300x40%20(Banners)/CalmUnderConstructionBanner.gif">
            </div>
            <div class="homelogo blueborder fully-centered"><a href="https://afronaut.online/"><img
                        src="https://file.garden/aR-4_00aUQLjULLS/Personal%20Graphics/afronautbuttonpurple.gif"></a>
            </div>
            <div class="music blueborder">
                <!-------MUSIC PLAYER BY GLENTHEMES------->
                <script src="//static.tumblr.com/gtjt4bo/QRmphdsdv/glenplayer02.js"></script>
                <!-------MUSIC PLAYER BY GLENTHEMES------->
                <div id="glenplayer02">
                    <div class="music-controls" onclick="songstart();">
                        <div class="playy">►</div>
                        <div class="pausee">♬</div>
                    </div>
                    <div class="sonata">
                        <marquee> Music by themusicangel on Discord! Go commission them! </marquee>
                    </div>
                    <div class="labeltext"></div>
                </div><!--end music player-->
                <audio id="tune"
                    src="https://file.garden/aR-4_00aUQLjULLS/audio/musicbythemusicangel.mp3""audio"></audio>
                <div class="labeltext"> </div>
            </div>
            <div class="followme blueborder fully-centered"> <a href="https://neocities.org/site/siddfinch"><img
                        src="https://file.garden/aR-4_00aUQLjULLS/Personal%20Graphics/afronautfollowmebuttonglitch.gif"></a>
            </div>
            <div class="sitemap centered-horizontal blueborder">
                <nav class="centered-horizontal">
                    <div w3-include-html="/sitemap.html"></div>
                    <noscript>
                        <p> You have javascript disabled, which I use for this sidebar. Please click </p> <a
                            href="sitemap.html">here</a>
                        <p>for the sitemap.</p>
                    </noscript>
                </nav>
            </div>
            </div>
            <div class="main blueborder">
                <p>use this as a base</p>
            </div>
            <div class="rightaside centered-horizontal blueborder">
                <h3>ToC</h3>
            </div>
            <div class="sitemarquee blueborder centered-horizontal blueborder"></div>
            <div class="comments centered-horizontal blueborder"></div>
            <div class="footer">
                <div w3-include-html="/footer.html"></div>
                <noscript>
                    <p> You have javascript disabled, which I use for this footer. Please click </p> <a
                        href="footer.html">here</a>
                    <p>for the footer.</p>
                </noscript>
            </div>
        </section>
        <script>w3IncludeHTML();</script>
    </body>

</html>